*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-size: 14px;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

/* start coding here */
.innerWrap{
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#signup-container, #login-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin: 10px;
}

h2 {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input, select, button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
